#colorDiv {
  background-color: #666666;
  height: 400px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 15px;
}

#submitBtn {
  margin: auto;
  display: block;
  border-radius: 20px;
  width: 100px;
}

.page-header {
  text-align: center;
}
